<div id="<%= dom_id consulta %>">
  <p>
    <strong>Data:</strong>
    <%= consulta.data %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consulta.paciente.nome %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consulta.medico.nome %>
  </p>

</div>
