<div id="<%= dom_id consulta %>">
  <p>
    <strong>Data:</strong>
    <%= consulta.data %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consulta.paciente_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consulta.medico_id %>
  </p>

</div>
